.cover__subtitle {
font-weight: 400;
font-size: 18px;
font-style: normal;
line-height: 22px;
max-width: 360px;
text-align: center;
margin: 0px auto;
z-index: 2;
color: white;
text-decoration: none;
}

@media (max-width: 320px) {
    .cover__subtitle {
        width: 258px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        }
}