.cover__subtitle {
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 22px;
    max-width: 360px;
    text-align: center;
    margin: 0px auto 245px;
    z-index: 2;
    color: white;
    text-decoration: none;
}

@media (max-width: 1024px) {
    .cover__subtitle {
        margin-bottom: 195px;
    }
}

@media (max-width: 768px) {
    .cover__subtitle {
        margin-bottom: 115px;
    }
}

@media (max-width: 320px) {
    .cover__subtitle {
        width: 258px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 33px;
    }
}