.lead__image {
    max-width: 100%;
    height: 615px;
    background-image: url("../../../images/lead-polka.jpg");
    background-size: contain;
    box-sizing: border-box;
    background-repeat: no-repeat;
    margin: 64px 148px 0px;
}

@media (max-width: 1024px) {
    .lead__image {
        margin: 64px 48px 0px;
        height: 580px;
     }
}

@media (max-width: 768px) {
    .lead__image {
        margin: 64px 0px 0px;
        height: 480px;
     }
}

@media (max-width: 320px) {
    .lead__image {
        margin: 40px 0px 0px;
        height: 200px;
     }
}
