.intro {
    display: grid;
    padding-left: 148px;
    max-width: 100%;
}

@media (max-width: 1024px) {
    .intro {
        padding-left: 48px;
    }
}

@media (max-width: 768px) {
    .intro {
        padding: 0px 24px;
    }
}

@media (max-width: 540px) {
    .intro {
        padding-left: 16px;
        width: 288px;
        box-sizing: border-box;
    }
}