.lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    width: 640px;
    text-align: center;
    margin: 0px auto;
}

@media (max-width: 768px) {
    .lead__subtitle {
        width: 100%;
        max-width: 640px;
    }
}

@media (max-width: 540px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        width: 280px;
    }
}