.cover {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 48px 92px;
    width: 100%;
    height: 740px;
}

.cover:hover {
opacity: 0.8;
}

@media (max-width: 1024px) {
    .cover {
        padding: 0px 0px 92px;
        height: 640px;
    }
}

@media (max-width: 768px) {
    .cover {
        padding: 0px 0px 90px;
        height: 480px;
    }
} 

@media (max-width: 320px) {
    .cover {
        margin: 66px 0px 64px;
        padding: 0px 0 px 97px;
        height: 200px;
    }
}