.cover {
    margin: 0px auto 0px;
    padding: 12px 48px 92px;
    max-width: 1280px;
    width: calc(100% - 48px * 2);
}

.cover:hover {
    opacity: 0.8;
}

@media (max-width: 1024px) {
    .cover {
        width: 100%;
        padding: 12px 0px 92px;
    }
}

@media (max-width: 768px) {
    .cover {
        padding: 17px 0px 90px;
    }
}

@media (max-width: 320px) {
    .cover {
        margin: 66px 0px 0px;
        padding: 0px 0px 97px;
    }
}