.cover__title {
position: absolute;
top: 245px;
left: 312px;
width: 560px;
height: 152px;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
text-align: center;
z-index: 2;
margin: 0px;
color: white;
text-decoration: none;
}

@media (max-width: 1024px) {
    .cover__title {
        top: 195px;
        left: 232px;
        }
}

@media (max-width: 768px) {
    .cover__title {
        top: 115px;
        left: 104px;
        }
}

@media (max-width: 320px) {
    .cover__title {
        width: 248px;
        height: 70px;
        top: 33px;
        left: 16px;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
    }
}