.cover__title {
max-width: 560px;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
text-align: center;
z-index: 2;
margin: 245px auto 20px;
color: white;
text-decoration: none;
}

@media (max-width: 1024px) {
    .cover__title {
        margin-top:195px;
    }
}

@media (max-width: 768px) {
    .cover__title {
        margin-top: 145px;
    }
} 

@media (max-width: 320px) {
    .cover__title {
        width: 248px;
        margin-top: 33px;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
    }
}