.place {
    width: 100%;
    margin: 0px 148px 80px;
    display: grid;
    grid-template-columns: minmax(320px, 460px) minmax(288px, 484px);
    gap: 40px 48px;
    
}

@media (max-width: 1024px) {
    .place {
        margin: 0px 48px 80px;
        gap: 32px 48px;
    }
}

@media (max-width: 768px) {
    .place {
        margin: 0px 24px 73px;
        gap: 28px 48px;
    }
}

@media (max-width: 320px) {
    .place {
        margin: 0px 0px 50px;
        gap: 32px;
        grid-template-columns: 320px;
    }
}
