.place__website {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0px;
    align-self: flex-end;
}
@media (max-width: 320px) {
    .place__website {
        margin-left: 16px;
    }
}